* {
   box-sizing: border-box;
}

.cards_wrapper {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin: 0 auto;
}

.card {
   position: relative;
   margin-right: 10px;
   width: calc(25% - 10px);
   flex-grow: 0;
   font-size: 0.8rem;
   padding: 15px 0px 10px 10px;
   font-weight: 600;
   margin-bottom: 20px;
   text-align: left;
   border-radius: 25px;
   background: #5f9ca1;
   color: white;
}

.card_important {
   @extend .card;
   background: #e57373;
}

.delete_btn {
   position: absolute;
   top: 30%;
   right: 5%;
   background-color: #bedbdb;
   border-radius: 50%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   color: black;
   font-size: 20px;
   height: 40px;
   flex-shrink: 0;
   cursor: pointer;
}
