* {
   box-sizing: border-box;
}

.wrapper {
   height: max-content;
   margin-top: 24px;
   background-color: white;
}

.content {
   grid-area: c;
   padding: 0;
   width: 87vw;
   max-height: max-content;
}

.breadcrumbContainer {
   position: absolute;
   top: 5px;
   width: 340px;
   height: 40px;
   background-color: white;
   box-shadow: none;
   padding-left: 5px;
   color: black;
   border-radius: 20px;
}

.breadCrumb_span {
   line-height: 20px;
}

.breadcrumb_item {
   border-radius: 15px;
   font-size: 15px;
   height: 27px;
   line-height: 20px;
   margin: 0 5px;
   font-weight: bold;
   transition: all 0.5s ease;
}

.breadcrumb_item_active {
   background-color: rgba(184, 201, 203, 0.5);
   transition: all 0.5s ease;
}

.sad_title {
   font-size: 26px;
   line-height: 60px;
   margin-left: 20px;
   display: block;
   color: black;
   font-weight: 300;
   padding: 0;
   font-family: "Manrope";
}

.illustrationContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.illustration {
   opacity: 0.5;
   transition: all 0.2s ease;
}

.illustation_description {
   text-align: center;
   margin-top: 10px;
   font-size: 25px;
   color: #e1e4e5;
   transition: all 0.2s ease;
}

.cards_wrapper {
   display: flex;
   position: relative;
   flex-wrap: wrap;
   width: 95%;
   overflow: hidden;
}

.card {
   position: relative;
   margin-right: 10px;
   /* width: calc(15% - 10px); */
   width: 300px;
   font-size: 0.8rem;
   font-weight: 600;
   margin-bottom: 20px;
   text-align: left;
   border-radius: 15px;
   background: #5f9ca1;
   color: white;
   min-height: 150px;
   height: max-content;
   cursor: pointer;
}

.delete_btn {
   position: absolute;
   top: 22px;
   right: 13px;
   background-color: white;
   border-radius: 50%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   color: black;
   font-size: 12px;
   font-weight: 700;
   height: 30px;
   flex-shrink: 0;
   cursor: pointer;
   transition: all 0.2s ease;

   &:hover {
      background-color: white;
      transform: scale(1.3);
   }
}

.noteText {
   display: inline-block;
   width: 220px;
   font-size: 20px;
   white-space: normal;
   margin-bottom: 70px;
   margin-left: 10px;
   max-height: max-content;
   height: 50px;
   transition: all 0.3s ease;
}

.noteDate {
   display: inline-block;
   margin-left: 10px;
   font-size: 15px;
   position: absolute;
   bottom: 10px;
   left: 0;
   transition: all 0.3s ease;
}

/* List styles */

.noteDateList {
   display: inline-block;
   font-size: 15px;
   position: absolute;
   bottom: -5px;
   left: 45%;
   transition: all 0.3s ease;
}

.list_wrapper {
   display: flex;
   flex-direction: column;
}

.list_item {
   position: relative;
   color: black;
   height: 45px;
   width: 80vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 5px;
   border: 2px solid rgba(184, 201, 203, 0.5);

   cursor: pointer;
   border-radius: 8px;

   &:hover {
      background-color: rgba(95, 158, 160, 0.6);
   }
}

.noteTextList {
   display: inline-block;
   position: absolute;
   top: -15px;
   left: 10px;
   width: 420px;
   font-size: 20px;
   white-space: normal;
   height: max-content;
   transition: all 0.3s ease;
}

.important_note {
   background: #e57373;
   color: white;
}

.delete_btn_list {
   @extend .delete_btn;
   border-radius: 8px;
   top: 5px;
   right: 10px;
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)

// Large devices (desktops, 992px and up)
@media (max-width: 995px) {
   .illustration {
      position: absolute;
      left: 210px;
      top: 200px;
      width: 700px;
      transition: all 0.2s ease;
   }

   .illustation_description {
      position: absolute;
      left: 310px;
      bottom: 340px;
      transition: all 0.2s ease;
   }
}

@media (max-width: 768px) {
   .breadcrumbContainer {
      left: 28%;
      top: 8px;
      width: 30%;
      height: 35px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
   }

   .breadcrumb_item {
      margin: 0;
   }

   .breadCrumb_span {
      display: none;
   }

   .cards_wrapper {
      width: 100vw;
      height: max-content;
   }

   .card {
      width: 350px;
   }

   .list_item {
      width: 350px;
      background: #5f9ca1;
      color: white;
   }

   .illustration {
      position: absolute;
      left: 0px;
      top: 200px;
      width: 380px;
      transition: all 0.2s ease;
   }

   .illustation_description {
      position: absolute;
      display: block;
      left: 0px;
      top: 380px;
      transition: all 0.2s ease;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
   }
}

@media (max-width: 700px) {
   
}