.groupForm {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 3px solid #e2dec7;
  border-radius: 20px;
  display: block;
  padding: 10px;
  width: 700px;
}

.inputContainer {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acceptButtonContainer {
  position: absolute;
  top: -10px;
  right: -90px;
}

.addGroup {
  margin-top: 10px;
  margin-left: 30px;
  background-color: #22ac98;
  border: 1px solid black;
  width: 200px;
}

.addGroup .materialIcon:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1890px) {
  .groupForm {
    width: 35vw;
  }
}

@media (max-width: 1655px) {
  .groupForm {
    width: 30vw;
  }
  .acceptButtonContainer {
    position: absolute;
    top: -1%;
    right: -30%;
  }
  .inputContainer {
    width: 75%;
  }
}

@media (max-width: 1655px) {
  .groupForm {
    width: 32vw;
  }
}

@media (max-width: 768px) {
  .groupForm {
    width: 90vw;
  }
}
