.wrapper {
  height: 100%;
}

.task {
  width: 100% !important;
  height: 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px solid rgba(184, 201, 203, 0.5);
  border-radius: 8px;
  margin-bottom: 5px;
}

.task:hover {
  background-color: rgba(95, 158, 160, 0.6);
}

.completeFlag {
  margin-left: 10px;
}

.task:hover > p {
  color: white;
}

.task_text {
  margin-top: 10px;
  display: block;
  color: black;
  font-size: 18px !important;
  max-height: 50px;
  white-space: normal;
}

.task > i {
  margin-right: 10px;
  margin-left: auto;
  border-radius: 5px;
  background: white;
  border: 2px solid #5f9ea066;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.task > i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: bold;
}

.react-context {
  all: none !important;
}

@media (max-width: 1100px) {
  .task {
    width: 95% !important;
  }
}
