.form-enter {
   opacity: 0;
   transform: translateX(1000px);
   transition: opacity 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
      transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.form-enter-active {
   opacity: 1;
   transform: translateX(0);
   transition: opacity 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
      transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form-enter-done {
   opacity: 1;
   transition: opacity 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
      transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form-exit {
   opacity: 0.2;
   transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
      opacity 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form-exit-active {
   opacity: 0;
   transform: scale(0.3);
   transition: opacity 100ms ease-in, transform 400ms ease-in;
}

.form-exit-done {
   opacity: 0;
   transform: scale(0);
   transition: opacity 100ms ease-in, transform 400ms ease-in;
}

.card-enter {
   opacity: 0;
   transform: translateY(500px);
   transition: opacity 200ms ease-in, transform 250ms ease-in;
}
.card-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.card-enter-done {
   transition: opacity 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
      transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card-exit {
   opacity: 1;
   transition: transform 400ms ease-in, opacity 200ms ease-in;
}

.card-exit-active {
   opacity: 0;
   transform: translateY(500px);
   transition: opacity 100ms ease-in, transform 250ms ease-in;
}

.card-exit-done {
   opacity: 0;
   transform: translateY(500px);
   transition: opacity 100ms ease-in, transform 250ms ease-in;
}
