.acceptButton {
   position: absolute;
   top: 20%;
   right: 2%;
   width: 70px;
   height: 70px;
   padding: 0px !important;
   border-radius: 50%;
}

.acceptIcon {
   width: 70px;
   height: 70px;
   padding-left: 8%;
   font-size: 60px !important;
   transition: all 0.2s ease;

   &:hover {
      transform: scale(1.4);
      box-shadow: none;
   }
}

@media (max-width: 1450px) {
   .acceptButton {
      width: 50px;
      height: 50px;
   }

   .acceptIcon {
      width: 40px;
      height: 40px;
      padding-left: 0%;
      font-size: 50px !important;
      &:hover {
         transform: scale(1.2);
         box-shadow: none;
      }
   }
}
