.wrapper {
   height: 100vh;
   margin-top: 20px;
   margin-left: 20px;
   grid-area: c;
   padding: 0;
   width: 87vw;
   overflow: hidden;
}

@media (max-width: 768px) {
   .wrapper {
      width: 100vw;
      overflow: auto;
   }
}
