.wrapper {
   height: 100vh;
   overflow: hidden;
   margin-top: 24px;
   background-color: white;
}

.content {
   grid-area: c;
   padding: 0;
   margin-top: 24px;
   margin-left: 20px;
   width: 87vw;
}

.sad_title {
   font-size: 26px;
   line-height: 60px;
   margin-left: 20px;
   display: block;
   color: black;
   font-weight: 300;
   padding: 0;
   font-family: "Manrope";
}
