@import "../../variables.scss";

.wrapper {
   height: 100vh;
   overflow: hidden;
}

.navbar {
   height: 100%;
   grid-area: n;
   padding-left: 20px;
   background-color: $navbar-color;
   padding-top: 10px;
}

.navbar_item {
   font-weight: 300;
   display: block;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 160px;
   min-height: 50px;
   font-size: 23px;
   font-family: "Manrope";
   text-decoration: none;
   color: black;
   transition: all 0.3s ease;

   &_active {
      color: white;
   }

   &:hover {
      color: white;
      border-bottom: 1px solid white;
   }
}
