.app-wrapper {
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-areas:
    "h h h"
    "n c c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 250px 10fr;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .app-wrapper {
    grid-template-areas:
      "h h h"
      "c c c";
    overflow: auto;
  }
}
