.app-wrapper {
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-areas:
    "h h h"
    "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 10fr;
  max-height: 100vh;
  overflow: hidden;
}
